<footer  class="pmd-footer mat-elevation-z2">
  <div >
    <div class="row align-items-center">


      <div class="col-md-4 text-left" >
        <a  href="">
          <img class="nav-logo"  height="40"  src="assets/quizify_logo.svg" alt="Logo Quizify"  />
        </a>
      </div>
      <div class="col-md-4 text-center">

        <a href="https://github.com/daniel-szulc/quizify"  target="_blank">
        <button color="primary" mat-icon-button >
          <i-bs width="20" height="20" name="github"/>
        </button>
        </a>
      </div>
      <div class="col-md-4 text-end">
        <div class="pmd-site-info">
          © {{year}} <a href="https://daniel-szulc.github.io/" target="_blank"><strong>Daniel Szulc</strong></a>
        </div>
      </div>
    </div>
  </div>
</footer>
