<div class="container dark-background">
  <mat-card>
    <a class="logo-wrapper" href="/">
      <img class="logo"  height="70"  src="/assets/quizify_logo.svg" alt="Logo Quizify" />
    </a>
    <mat-card-title>{{"Reset password"}}</mat-card-title>
    <mat-card-content>
      <form *ngIf="!successfullySent" (submit)="submitForm(); $event.preventDefault()">
        <mat-error *ngIf="mainErrorMessage.length > 0">
          {{mainErrorMessage}}
        </mat-error>
        <mat-form-field appearance="fill" hideRequiredMarker >
          <mat-label >Enter your email</mat-label>
          <input matInput  placeholder="pat@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>
        </mat-form-field>
        <button mat-flat-button class="submit-btn" type="submit" color="primary">{{"Reset password"}}</button>
      </form>

      <p *ngIf="successfullySent">A password reset link has been sent to your email.</p>

      <button mat-stroked-button class="submit-btn"  (click)="this.router.navigate(['/sign-in'])" color="primary">Back to Sign In</button>
    </mat-card-content>
  </mat-card>
</div>

