<app-navbar></app-navbar>

<div class="container dark-background">
  <div class="spinner" *ngIf="!user && !noUser">
    <mat-spinner></mat-spinner>
  </div>

  <div class="user-container">
    <ng-container *ngIf="user && userFound; else noUser">
      <div class="imageFrame">
      <img
        class="align-self-start img-thumbnail rounded-circle"
        src="{{
    user.customImage ? user.customImage : user.image ? user.image : '/assets/avatars/avatar_00.jpg'
  }}"
        alt="{{ user.username }}"
      />
      </div>

      <h2 >{{user.username}}</h2>

      <h5>quizzes: {{user.quizzes ? user.quizzes.length : 0}}</h5>
      <ng-container *ngIf="quizzesFound; else noQuizzes">
        <div class="row quiz-row">
          <div class="col-md-6" *ngFor="let quiz of quizzes">
            <div *ngIf="quiz">
              <mat-card class="quiz-card" *ngIf="quiz.quizID">
                <mat-card-header>
                  <mat-card-title class="quiz-title">{{ getLimitedText(quiz.name, 25) }}</mat-card-title>

                </mat-card-header>
                <mat-card-content>
                  <p class="quiz-description">{{ getLimitedText(quiz.description, 250) }}</p>
                  <button mat-flat-button color="primary"  (click)="goToQuiz(quiz.quizID)">Take the quiz</button>

                  <button mat-stroked-button (click)="shareQuiz(quiz.quizID)" >
                    <i class="bi bi-share"></i>
                    Share quiz
                  </button>

                  <div class="madeBy">
                    Category: <a  href="javascript:void(0)" (click)="router.navigate(['category', quiz.categoryId])">{{ quiz.categoryName }}</a>
                  </div>
                </mat-card-content>

              </mat-card>
            </div>
          </div>
        </div>

        <ngb-pagination [collectionSize]="quizzesIDs.length" [(page)]="currentPage" [pageSize]="pageSize" (pageChange)="pageChange($event)"></ngb-pagination>
      </ng-container>

      <ng-template #noQuizzes>
        <p>No quizzes found for this user.</p>
      </ng-template>
    </ng-container>

    <ng-template #noUser>
      <p>No such user found.</p>
    </ng-template>
  </div>
</div>
