@import "../../../assets/styles"

.carousel-items
  mat-card
    background-color: $darkCommon
    padding: 10px
    text-align: center
    justify-content: center
    align-items: center

    overflow: hidden
    mat-card-content
      height: 250px
      margin: 10px
      text-align: center
      justify-content: center
      align-items: center
      mat-card-header
        padding: 0
        mat-card-title-group
          justify-content: center
          align-items: center
          mat-card-title
            text-wrap: nowrap
            font-size: 20px
            color: $primary-dark
            font-weight: 700
          mat-card-subtitle
            color: $primary
            font-size: 14px

      .iconFrame
        background-color: white
        height: min-content
        width: min-content
        margin-block: 10px
        margin-inline: auto
        padding: 13px
        border-radius: 20px
        aspect-ratio: 1
        text-align: center
        justify-content: center
        align-items: center
        @include transition(background-color)
        transform: scale(100%)
        @include transition(transform)
        .iconWrapper
          height: 30px
          width: 30px
          transform: rotate(0) scale(100%)
          @include transition(transform)
          background: transparent
          fa-icon, i-bs
            color: $primary
            transform: rotate(45deg)
    &:hover
      background-color: $accent-light
      cursor: pointer
      mat-card-content
        .iconFrame
          transform: scale(110%)
          background-color: $accent-lighter
          @include transition(background-color)
          .iconWrapper

            transform: rotate(10deg) scale(110%)
            fa-icon, i-bs
              color: white
              @include transition(color)
        mat-card-header
          mat-card-title-group
            mat-card-title, mat-card-subtitle
              color: white
              @include transition(color)
            mat-card-subtitle
              color: $accent-lighter


