<div class="carousel-container">
  <div class="carousel-items">
    <mat-card  *ngFor="let item of items" [style.width.px]="itemWidth"  [style.min-width.px]="itemWidth" [style.height.px]="itemHeight">
      <mat-card-content class="carousel-item" (click)="navigate(item.id)" >
     <div class="iconFrame">
      <div class="iconWrapper">
        <i-bs [width]="iconSize" [height]="iconSize" *ngIf="!item.icon && item.bootstrapIconName"  [name]="item.bootstrapIconName"></i-bs>
      </div>
     </div>
      <mat-card-header>
        <mat-card-title-group>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>{{item.count}} {{ item.count == 1 ? "quiz" : "quizzes" }} </mat-card-subtitle>

        </mat-card-title-group>
      </mat-card-header>
        </mat-card-content>
    </mat-card>
  </div>
  <button mat-icon-button class="carousel-button previous" (click)="move('previous')">
    <i-bs  name="chevron-left" ></i-bs>
  </button>
  <button mat-icon-button class="carousel-button next" (click)="move('next')">
    <i-bs name="chevron-right" ></i-bs>
  </button>
</div>


