<app-navbar></app-navbar>
<div class="container dark-background">

  <mat-card>

    <mat-card-title>User Profile</mat-card-title>
    <mat-card-content>
<!-- Sidebar navigation -->
<div class="container-fluid dashboardContainer">
    <main role="main" >
      <div class="inner-adjust">
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <img
                class="align-self-start img-thumbnail rounded-circle"
                src="{{
                  getImage() ? getImage() : '/assets/avatars/avatar_00.jpg'
                }}"
                alt="{{ user.displayName }}"
              />
              <div class="media-body">
                <h2>
                  <strong>{{
                    user.username
                    }}</strong>
                </h2>
                <h5>
                  {{
                    user.displayName
                    }}
                </h5>
                <p>
                  User ID: <strong>{{ user.uid }}</strong>
                </p>
                <p>
                  Email: <strong>{{ user.email }}</strong>
                </p>
              </div>
            </div>
            <h4>Your quizzes</h4>
            <div class="spinner" *ngIf="isLoading">
              <mat-spinner></mat-spinner>
            </div>
            <div  *ngIf="!isLoading">
              <div *ngIf="quizzes.length==0">
                no quizzes found
              </div>
            <ul>

              <li *ngFor="let quiz of quizzes | slice: (currentPage-1) * pageSize : currentPage * pageSize; let i = index">
                <div *ngIf="quiz">
                <span>{{ quiz.name }}</span>
<!--                <span>{{ quiz.created }}</span>-->
                <span>{{ quiz.categoryId }}</span>
                <button (click)="deleteQuiz(quiz)">Usuń</button>
                <button (click)="editQuiz(quiz)">Edytuj</button>
                </div>
              </li>
            </ul>
            <ngb-pagination  *ngIf="quizzes.length>0"
              [(page)]="currentPage"
              [pageSize]="pageSize"
              [collectionSize]="quizzes.length"
              [maxSize]="5"
              [rotate]="true"
            ></ngb-pagination>
          </div>
          </div>
          <button mat-flat-button color="warn" class="nav-link" (click)="authService.SignOut()"> Log out </button>
        </div>
      </div>
    </main>
</div>
    </mat-card-content>
  </mat-card>
</div>
