<app-navbar></app-navbar>

<div class="container dark-background">
  <div style="margin: 60px"></div>
  <mat-card>

    <mat-card-title>User Profile</mat-card-title>
    <mat-card-content>
<!-- Sidebar navigation -->
<div class="container-fluid dashboardContainer">
    <main role="main" >
      <div class="inner-adjust">
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <div class="image-container align-self-start">
              <img
                class="align-self-start img-thumbnail rounded-circle"
                src="{{
    getImage() ? getImage() : '/assets/avatars/avatar_00.jpg'
  }}"
                alt="{{ user.displayName }}"
              />
              <a  class="change-avatar-icon" (click)="changeAvatar()">
                <i-bs width="30" height="30" name="pencil-square"></i-bs>
              </a>
              </div>
              <div class="media-body">
                <h2>
                  <strong>{{
                    user.username
                    }}</strong>
                </h2>
                <h5>
                  {{
                    user.displayName
                    }}
                </h5>
                <p>
                  Email: <strong>{{ user.email }}</strong>
                </p>
              </div>
            </div>
            <h4>Your quizzes</h4>
            <div class="spinner" *ngIf="isLoading">
              <mat-spinner></mat-spinner>
            </div>
            <div clas="quizzes" *ngIf="!isLoading">
              <div *ngIf="quizzes.length==0">
                no quizzes found
              </div>
              <div >
                <div class="quiz-grid" *ngFor="let quiz of quizzes | slice: (currentPage-1) * pageSize : currentPage * pageSize; let i = index">
                <div *ngIf="quiz"  class="quiz-item" >
                  <div class="quiz-name">{{ quiz.name }}</div>
                  <div class="quiz-category">{{ quiz.categoryName }}</div>
<!--                  <div class="quiz-created">{{ quiz.created }}</div>-->
                  <div class="quiz-actions">
                    <button  (click)="solveQuiz(quiz)" mat-flat-button color="primary" type="button" matTooltip="Take the quiz">
                      <i-bs width="20" height="20" name="file-earmark-check"></i-bs> Take
                    </button>
                    <button (click)="editQuiz(quiz)" mat-stroked-button type="button" matTooltip="Edit the quiz">
                      <i-bs width="20" height="20" name="pencil-square"></i-bs> Edit
                    </button>
                    <button  (click)="deleteQuiz(quiz)" mat-flat-button color="warn" type="button" matTooltip="Remove the quiz">
                      <i-bs width="20" height="20" name="trash"></i-bs> Remove
                    </button>

                    <button mat-stroked-button (click)="shareQuiz(quiz)" matTooltip="Share the quiz">
                      <i class="bi bi-share"></i>
                      Share
                    </button>
                  </div>
                </div>
                </div>
              </div>
              <div class="col-12 justify-content-center m-2">
            <ngb-pagination
              *ngIf="quizzes.length>pageSize"
              [(page)]="currentPage"
              [pageSize]="pageSize"
              [collectionSize]="quizzes.length"
              [maxSize]="5"
              [rotate]="true"
            ></ngb-pagination>
              </div>
          </div>
          </div>
          <button mat-flat-button color="warn" class="nav-link" (click)="authService.SignOut()"> Log out </button>
        </div>
      </div>
    </main>
</div>
    </mat-card-content>
  </mat-card>
</div>
