

<div class="container dark-background">

  <div class="spinner" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
    <mat-card *ngIf="isQuizNotFound">
        <a class="logo-wrapper" href="/">
          <img class="logo"  height="70"  src="/assets/quizify_logo.svg" alt="Logo Quizify" />
        </a>

        <mat-card-title>{{"Quiz not found"}}</mat-card-title>

        <mat-card-content>

          <div>
            <p>The quiz you're looking for doesn't exist.</p>
          </div>
          <button mat-flat-button class="submit-btn" (click)="this.router.navigate(['/'])" color="primary">Back to Home</button>
        </mat-card-content>
    </mat-card>
    <mat-card  [style]="valueAsStyle" *ngIf="quizService.questionData && !isLoading && !isQuizNotFound">

      <div class="nav-tab">

        <button mat-flat-button (click)="back()">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
          Back
        </button>

      <div class="display-timer">

        <button disabled>
          <div class="text">{{quizService.displayTimeElapsed()}}</div>
        </button>
      </div>
      </div>
        <mat-card-header>
            <!-- Question -->
            <mat-card-title-group>
              <mat-card-subtitle>Question {{quizService.qnProgress+1}}
              </mat-card-subtitle>
              <mat-card-title>{{quizService.questionData[quizService.qnProgress].question}}
              </mat-card-title>
            </mat-card-title-group>



        </mat-card-header>
        <!-- Image -->
      <!--  <img *ngIf="quizService.questionData[quizService.qnProgress].imageName" mat-card-image
            [src]="'../assets/img/'+quizService.questionData[quizService.qnProgress].imageName" alt="Question image">-->
        <mat-card-content *ngIf="quizService.questionData[quizService.qnProgress].options.length">
            <!-- Options -->
          <div class="option-buttons-container">
          <button mat-flat-button color="primary" *ngFor="let option of quizService.questionData[quizService.qnProgress].options let i = index"
                  [value]="i" (click)="selectAnswer(i)">{{option}}</button>
          </div>

        </mat-card-content>

    </mat-card>
</div>
