<form [formGroup]="quizForm" (ngSubmit)="submitQuiz()" class="quiz-form">
  <mat-form-field appearance="outline" class="quiz-form__field">
    <mat-label>Quiz Name</mat-label>
    <input matInput formControlName="name" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="quiz-form__field">
    <mat-label>Quiz Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <mat-form-field appearance="outline" class="quiz-form__field">
    <mat-label>Quiz Category</mat-label>
    <mat-select formControlName="category" required>
      <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div formArrayName="questions">
    <div *ngFor="let question of questions.controls; let questionIndex = index" [formGroupName]="questionIndex">
      <mat-form-field appearance="outline" class="quiz-form__field">
        <mat-label>Question {{questionIndex + 1}}</mat-label>
        <input matInput formControlName="question" required>
      </mat-form-field>

      <div formArrayName="options">
        <div *ngFor="let option of question.get('options')?.value; let optionIndex = index" [formGroupName]="optionIndex">
          <mat-form-field appearance="outline" class="quiz-form__field">
            <mat-label>Option {{optionIndex + 1}}</mat-label>
            <input matInput formControlName="option" required>
          </mat-form-field>

          <button mat-raised-button color="primary" type="button" (click)="addOption(questionIndex)">
            <i-bs width="20" height="20" name="plus-circle"></i-bs>
            Add Option
          </button>
          <button mat-raised-button color="warn" type="button" (click)="removeOption(questionIndex, optionIndex)">
            <i-bs width="20" height="20" name="dash-circle"></i-bs>
            Remove Option
          </button>
        </div>
      </div>
      <mat-form-field appearance="outline" class="quiz-form__field">
        <mat-label>Correct Answer (Option Index)</mat-label>
        <input matInput type="number" formControlName="answer" min="1" max="8" required>
      </mat-form-field>

      <button mat-raised-button color="warn" type="button" (click)="removeQuestion(questionIndex)">
        <i-bs width="20" height="20" name="trash"></i-bs>
        Remove Question
      </button>
    </div>

    <button mat-raised-button color="primary" type="button" (click)="addQuestion()">
      <i-bs width="20" height="20" name="plus-circle"></i-bs>
      Add Question
    </button>
  </div>

  <button mat-raised-button color="accent" type="submit">
    <i-bs width="20" height="20" name="check2-circle"></i-bs>
    Submit Quiz
  </button>
</form>
